.slick-dots{
    top:85%;
}
.slider-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height:110px;
  border-radius: 50%;
}
.fwidth{
    margin: 0 auto;
    padding: 0px;
}
