.login-container{
    box-shadow: 5px 10px 20px #888888;
    border-radius: 6px;
}
.fb, .google{
    height: 30px;
    width:100px;
    border: 1px solid #444;
    margin-top: 10px;
    border-radius: 20px;
}
.fb img{
    width:30px;
    height:26px;
    
}
.fb span, .google span {
    font-size:13px;
    
}
.google img{
    width:30px;
    height:26px
}
.or-login{
    max-width: 300px;
    position: relative;
}
.or-login::before{
    content: "";
    display: block;
    height: 2px;
    background:gray;
    position:absolute;
    left: 0;
    width:45%;
    top:50%

}
.or-login::after{
    content: "";
    display: block;
    height: 2px;
    background:gray;
    position:absolute;
    right: 0;
    width:45%;
    top:50%

}



