.logo{
    width:75px
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
  .navba{
      position: sticky;
      top: 0px;
      overflow: hidden;
  }
  
  .header-nav{
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    transition:0.6s;
    z-index: 5;
}

.sticky{
    background-color: #1F2323;
    
      
}
.navbar-light span.navbar-toggler-icon {
background-color: red;
  color: white;
}
.custom-toggler.navbar-toggler { 
  border-color: lightgreen; 
}