@media (min-width: 768px ) and (max-width: 1200px ){
    .headline h4{
        font-size: 12px;
        font-weight: bold;
        margin-top: 5px;
       
    }
}
@media (max-width: 767px ){
    .headline{
        display:none
       
    }
}
@media(min-width: 481px )and (max-width: 1180px ){
    .blog-readmore{
        font-size: 13px;
        width: 80px;
        height:50px
       
    }
    .post-date{
        font-size:11px
    }
}


